

<ion-view view-title="" hide-back-button="true" cache-view="false">
	
	 <ion-nav-buttons side="left" >
     		<button class="button button-icon button-clear ion-navicon" style="margin-top:3px;" menu-toggle="left">
        </button>
            <a class="item-icon-right" href="#"  ui-sref="app.basket()" style="float:left;padding:0px; margin:0px; margin-top:5px; margin-left:5px; overflow:hidden">
                <img src="img/basketIcon.png" style="width:30px; float:left; " />
                <div class="" style="z-index:100;  top:5px; left:5px; color:#004d6e; margin-left:5px; margin-top:3px;  font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</div> 
            </a>
           <div style="color:black; font-size:20px; overflow:hidden; text-align:left; margin-top:5px; margin-left:-16%; width:80%; " align="center">
           		<div style="width:250px; overflow:hidden" >
                    <div style="float:left; font-weight:bold; width:30px; margin-top:2px;" ng-click="changePosition(0)">
                        <img src="img/el.png" style="width:100%" />
                    </div>
                    <span style="float:left;  margin-left:3px; margin-top:7px; width:170px; font-size:15px; font-weight:bold; direction:rtl; text-align:center">{{CatagoryName}}</span>
                    <div style="float:left; margin-left:3px; font-weight:bold; width:30px; margin-top:2px;" ng-click="changePosition(1)">
                        <img src="img/ar.png" style="width:100%" />
                    </div>
                </div>
           </div>
       
        
	</ion-nav-buttons> 
    
 
	
   <div class="bar bar-subheader" style="margin-top:0px; border:none !important;  background-color:#efefef !important; height:57px;">
        <div class="mainSearchBoxDiv" align="center">
            <div class="mainSearchBox">
                <div class="mainSearchBoxRight">
                    <div>
                        <input type="text" style="width:100%;" placeholder="הכנס שם מוצר" ng-model="productsearch" style="direction:rtl" ng-keypress="enterPress($event)" />
                    </div>
                </div>
                <div class="mainSearchBoxLeft" align="right" >
                    <div ng-click="doSearch()">
                        <img src="img/search.jpg" style="width:40px; height:35px;" />
                    </div>
                </div> 
            </div>
        </div>
	</div>
    
	
  <ion-content  overflow-scroll="true" class="has-subheader;"  style=" margin-top:40px; margin-bottom:7px;" on-swipe-left="changePosition(1)" on-swipe-right="changePosition(0)">
 	 <ion-scroll  no-tap-scroll="true" delegate-handle="scroller" direction="y" on-scroll="getScrollPosition()"  style="width: 100%; height: 100%" >
	 <ul   ng-repeat="item in currentArray  | filter:productsearch" ng-if="item.package == '0' && item.catagory == 0" no-tap-scroll="true">
    	<li class="itemHalfRow">
        	<div class="listImageHolder" align="center">
            	<div class="listImage" align="center">
					<!-- <div style="height:200px; "> ng-click="ShowImageModal(item.image)"    ui-sref="app.details({Type: 'products', ItemId: item.index, CatagoryId: Category})"-->
        			<img src="{{host}}/{{item.image}}" imageonload   style="width:100%;" ng-click = "gotoDetailsPage('products' ,item.index ,Category)">
					<!-- </div> -->
                    <div class="listImageinfoText">
                    	<h5 style="direction:rtl; height:35px;">{{item.name | stripslashes:true}}</h5>
                		<p style="margin-top:-4px; direction:rtl" ng-if="item.new_price != 0 && userType != 2"> {{item.new_price}} &#8362</p>
                        <p style="margin-top:-4px; direction:rtl" ng-if="item.old_price != 0 && userType == 2"> {{item.old_price}} &#8362</p>
                    </div>
                    <!--<div class="infoButton" style="margin-top:-10px; margin-left:0px; height:30px; margin-bottom:10px; width:130px;" align="center">
                    	<div ng-if="!item.color && !item.size && !item.subjects" >
                               <div class="infoButtonDv" style="padding-left:15px; width:30px; padding-right:15px" ng-click="changeQuan(1,item,$index)">+</div>
                               <div class="infoButtonDv" style="width:50px" >
                                <input type="tel" style="background:color:red; width:10px; text-align:center; height:20px;" ng-model="item.quan">
                               </div>
                                <div class="infoButtonDv" style="padding-left:15px; width:30px;  padding-right:15px" ng-click="changeQuan(0,item,$index)">-</div>
                        </div>
            		</div>	-->
                    <div class="viewDetails" ng-click = "gotoDetailsPage('products' ,item.index ,Category)" >
                    	צפה בפרטים
                    </div>
                </div>
        	</div>
     		
        </li>
	 </ul>

	</ion-scroll> 
  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
