

<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">
	
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 

    <div class="bar bar-subheader" style="margin-top:-10px; border:none !important;  color:#efefef !important">
  		<div class="list list-inset" >
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="חיפוש מוצר" ng-model="productsearch" style="text-align:right; direction:rtl">
              </label>
    	</div>
	</div>
	<!--
    <div class="bar bar-footer" style=" height:75px; width:100%; padding:0;" ng-click="saveBuy()">
          <img src="img/invitbutton.png" style="width:100%" />
	</div>
	-->
	
  <ion-content class="has-subheader;" style=" margin-top:60px;" >
    
    <div>
        <img  src="img/line1.png" style="width:100%; margin-top:10px;" />
    </div>
    
    <div  ng-repeat="item in menuArray  | filter:productsearch" >
    	<div class="itemRow">
        	<div class="itemCombo" style="width:13%; margin-left:20px; text-align:right !important; background-color:blue !important;">
            	
            <div class="item item-select">
                    <select ng-model="item.quan" ng-change="AddBasket($index)">
                      <option ng-value="1">1</option>
                      <option ng-value="2">2</option>
                      <option ng-value="3">3</option>
					  <option ng-value="4">4</option>
					  <option ng-value="5">5</option>
                    </select>
   			</div>
            </div>
            <div class="infoCombo" >
            	<h3>{{item.name | stripslashes:true}}</h3>
				<p>מחיר : {{item.new_price}} ש"ח</p>
				<p ui-sref="app.extras({StoreId: MenuId, ProductId: $index})">בחירת תוספות</p>
				<p style="direction:rtl;" ng-if="checkExtras(item.extras)">תוספות שנבחרו: <span ng-repeat="array in item.extras" ng-if="array.isClicked == 1">{{array.name}} ,</span></p>
			</div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)" style="width:100%">
            </div>
            <div class="infoCheck">
            	<img src="img/uncheck.png" ng-if="item.isClicked == '0'" ng-click="changeCheckBox($index,item,0)" style="width:100%">
				<img src="img/checked.png" ng-if="item.isClicked == '1'" ng-click="changeCheckBox($index,item,1)" style="width:100%">
            </div>
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>

    </div>

<!--
<div class="list" ng-repeat="item in menuArray" ui-sref="app.extras({StoreId: MenuId, ProductId: $index})">

    <a class="item item-thumbnail-right" href="#">
      <img src="{{host}}/{{item.image}}">
      <h2 style="direction:rtl;">{{item.name}}</h2>
    </a>


</div>
-->

  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
