<ion-view view-title="" hide-nav-bar="false">
  <ion-content style="background-color:#f4f4f4">
    <div class="loginLogo" align="center">
		<!--
    	<div>
    		<img src="img/istock.png" style="width:100%;" />
        </div>
        -->

        
    </div>
	
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:10px;">
			<p>תודה שהזמנת</p>
			<p>PAYCASH</p>
			<p>סכום לתשלום: {{payAmmount}} ש"ח</p>
	

			<div class="list">

				<div  class="item item-thumbnail-left" href="#" ng-repeat="item in orderDetails.cart">
				  <img src="{{serverHost}}/{{item.product[0].image}}">
				  <h2>{{item.product[0].name}}</h2>
				  <p>מחיר: {{item.product[0].new_price}} ש"ח</p>
				  <p>כמות: {{item.quan}} יחידות</p>
				</div>

				

			</div>

	
			
			<button class="button button-block button-positive" ui-sref="app.completeorder({ItemId: ItemId})">
			  שלם
			</button>

			
    	</div>
	</div>

  </ion-content>
</ion-view>

