<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <!-- <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goToBasket()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{BasketPrice}} &#8362;</span>
  		</a>
  </ion-nav-buttons> -->
	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
	</ion-nav-buttons> 
  
  <!--
	<div class="bar bar-footer" style=" height:75px; width:100%; padding:0;" >
    		
            	<img src="img/invitbutton.png" style="width:100%" />
	</div>
  -->
  
  
    <div class="bar bar-subheader" style="margin-top:-10px; border:none !important;  color:#efefef !important">
  		<div class="list list-inset" >
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="חיפוש הזמנות" ng-model="productsearch" style="text-align:right; direction:rtl">
              </label>
    	</div>
	</div>

  <ion-content class="has-subheader;" style=" margin-top:60px;" >
 

	<div class="tabsDiv">
		<div ng-class="{'tabsActive': ActiveTab == 0 , 'tabsNotActive': ActiveTab == 1 }" ng-click="setActiveTab(0)">
			הזמנות חדשות
		</div>
		<div  ng-class="{'tabsActive': ActiveTab == 1 , 'tabsNotActive': ActiveTab == 0 }"  ng-click="setActiveTab(1)">
			הזמנות שנשלחו
		</div>
	</div>

			
    <div>
        <img  src="img/line1.png" style="width:100%; margin-top:10px;" />
    </div>
	
	<!--
	ui-sref="app.orderdetails({ItemId: $index})"
	ng-if="item.status == ActiveTab"
	-->
    
    <div  ng-repeat="item in AdminOrders  | filter:productsearch"   >
    	<div class="itemRow">
        	<div class="itemCombo" style="width:16%; margin-left:20px; text-align:right !important; background-color:blue !important;">
            	
            <div class="item item-select" style="">
                    <select ng-model="item.delivery" >
                      <option value="0" selected>בחירת שליח</option>
                      <option value="{{user.id}}" ng-repeat="user in UsersArray" ng-if="user.type == 1">{{user.name}} </option>

                    </select>
   			</div>
			<div style="" ng-click="sendOrder(item,$index)" ng-if="item.delivery !='0'">
				<button class="button button-small button-positive">העבר לשליח</button>
			</div>		
			
            </div>
            <div class="infoCombo" >
            	<h3>הזמנה מספר: {{item.index | stripslashes:true}}</h3>
                <p>מחיר : {{item.sum}} ש"ח</p>
				<p>כמות מוצרים :  {{item.cart.length}}</p>
				<p>שעת הזמנה : {{FormattedDate(item.date)}}</p>
				<p>משלוח לתאריך : {{item.deliverydate}}</p>
				<p>סטטוס הזמנה : {{OrderStatus(item.status)}}</p>
            </div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)" style="width:100%">
            </div>

            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>

    </div>
    
    
  </ion-content>
  
  <script id="image-modal.html" type="text/ng-template">
            <div style="width:100%;" align="center">
                <div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
                    <ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
                        <img ng-src="{{productImage}}" style="width:100%;">
                    </ion-scroll>
                </div>
            </div>
  </script>

		  
</ion-view>
