

<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
  </ion-nav-buttons> 
  <div class="bar bar-footer" style=" height:240px; width:100%; padding:0;" >
  
  		 <div >
          	<div class="footerBasket">
				<!-- <div style="float:left;" ng-if="userType == 1" ui-sref="app.selectstore()">
				<div ng-if="!storeName">בחירת חנות</div>
				<div ng-if="storeName">{{storeName | stripslashes}}</div>
			</div>-->

            	<div class="footerBasketLeft" style="direction:rtl; ">
                	<span style=" text-align:right">  {{BasketPrice}} &#8362;</span>
                </div>
                <div class="footerBasketRight">
                	מחיר
                </div>

				
            	<div class="footerBasketLeft" style="direction:rtl;">
                	<span style=" text-align:right"> {{discount}} %</span>
                </div>
                <div class="footerBasketRight">
                	 הנחה
                </div>

				
            	<div class="footerBasketLeft" style="direction:rtl; ">
                	<span style=" text-align:right">  {{priceAfterDiscount}} &#8362; </span>
                </div>
                <div class="footerBasketRight">
                	סה"כ 
                </div>
            </div>
            
            <div ng-if="(userType == 1)&& !storeName" ui-sref="app.selectstore()">
          		<img src="img/store.png" style="width:100%" />
			</div>
            <div ng-if="(userType == 1)&& storeName" style="height:20px; font-size:15px; background-color:black; color:white; text-align:center">
            	{{storeName}}
            </div>
			<div ng-if="(userType == 1 )&& storeName"  style="overflow:hidden; width:100%; background-color:#53b3da; padding:10px;" align="center">
            	<div style="width:80%; margin-top:15px; margin-bottom:15px">
                    <div style="width:40%; float:right;"  ng-click="checkLoggedIn()" >
                        <img src="img/order_small.png" style="width:100%" />
                    </div>
                    <div style="width:40%; float:left;" ui-sref="app.selectstore()">
                        <img src="img/shop_small.png" style="width:100%" />
                    </div>
                </div>
			</div>
            <div ng-if="(userType != 1)" ng-click="checkLoggedIn()" >
            	<img src="img/make_order.png" style="width:100%" />
            </div>
         </div>
  </div>
  
  <ion-content style="margin-bottom:200px;">
  
 
  <div style="margin-top:20px; " ng-repeat="item in BasketArray  | filter:productsearch track by $index" >
    	<div class="itemRow">

		<div class="itemCombo">
              <!-- <div class="infoButtonDv" style="padding-left:5px; padding-right:5px" ng-click="changeQuan(1,$index,item)">+</div>
                <div class="infoButtonDv">{{ProductData.quan}}</div> -->
			   <div class="infoButtonDv" style="padding-left:5px; padding-right:5px">
				<input type="tel" style="background:color:red; width:25px; height:20px; text-align:center" ng-model="item.quan">
			   </div>
              <!-- <div class="infoButtonDv" style="padding-left:5px; padding-right:5px" ng-click="changeQuan(0,$index,item)">-</div> -->
		</div>	
			
		
            <div class="infoCombo" ui-sref="app.details({Type: 'products', ItemId: $index, CatagoryId: -1})">
            	<h3>{{item.name | stripslashes:true}}</h3>
                <p>מחיר : {{item.new_price}} ש"ח</p>
				<p style="direction:rtl;" ng-if="checkExtras(item.color)">צבע: <span ng-repeat="array in item.color" ng-if="array.selected == 1">{{array.value}} </span></p>								
				<p style="direction:rtl;" ng-if="checkExtras(item.size)">מידה: <span ng-repeat="array in item.size" ng-if="array.selected == 1">{{array.value}} </span></p>								
				<p style="direction:rtl;" ng-if="checkExtras(item.subjects)"> <span ng-repeat="array in item.subjects" ng-if="array.selected == 1">{{array.subject_name}}: {{array.name}} </span></p>								

				<!--
				<p style="direction:rtl;" ng-if="checkExtras(item.extras)">תוספות שנבחרו: <span ng-repeat="array in item.extras" ng-if="array.isClicked == 1">{{array.name}} ,</span></p>	
				-->
            </div>
            <div class="infoImage">
            	<img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)" style="width:100%">
            </div>
            <div class="infoCheck">
            	<img src="img/uncheck.png" ng-if="item.isClicked == '0'" ng-click="changeCheckBox($index,item,0)" style="width:100%">
				<img src="img/checked.png" ng-if="item.isClicked == '1'" ng-click="changeCheckBox($index,item,1)" style="width:100%">
            </div>
            <div>
        		<img  src="img/line1.png" style="width:100%; margin-top:10px;" />
        	</div>
        </div>
	 </div>
<!--
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="חיפוש מוצר" ng-model="productsearch" style="text-align:right; direction:rtl">
  </label>
</div>

<button class="button button-block button-positive" ng-if="BasketPrice > 0" ng-click="checkoutBtn()">
  תשלום
</button>

<div class="list card" ng-repeat="item in BasketArray | filter:productsearch">

  <div class="item item-avatar" style="margin-bottom:-50px;">
      <img src="{{host}}/{{item.image}}" ng-click="ShowImageModal(item.image)">
	  <input type="tel" ng-model="item.quan" ng-if="item.isClicked == '1'" ng-change="checkProductPrice()">

    <h2 style="text-align:right; direction:rtl;">{{item.name}}</h2>
	<p style="text-align:right; direction:rtl;" ng-if="item.manufacturer">יצרן : {{item.manufacturer}}</p>
	<p style="text-align:right; direction:rtl;">מחיר: <strike>{{item.old_price}}</strike> {{item.new_price}} &#8362;</p>
	 <p style="text-align:right; direction:rtl;" ng-bind-html="item.desc | cutString_TitlePage:true:60">

	 

<div style="float:left; top:-20px; left:-60px; position:relative; z-index:100;">
	
	
	<i class="button button-icon icon ion-trash-a" ng-click="deleteProduct($index)"></i>


</div>

	 
	 
	 
  </div>



</div>

-->


  </ion-content>
  
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{productImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
</ion-view>
