<ion-view view-title="" hide-nav-bar="false">
  <ion-content style="background-color:#f4f4f4">
    <div class="loginLogo" align="center">
		<!--
    	<div>
    		<img src="img/istock.png" style="width:100%;" />
        </div>
        -->

        
    </div>
	
	<div style="width:100%;" align="center">
        <div style="width:90%; margin-top:10px;">
			<img src="{{QRUrl}}">
    	</div>
	</div>

  </ion-content>
</ion-view>

